

/* Start:/bitrix/components/bitrix/search.suggest.input/templates/.default/style.css?1709407836501*/
input.search-suggest {}
div.search-popup{border: 1px solid #333333;background: #FFFFFF;padding: 2px;margin: 0px;}
div.search-popup-row, div.search-popup-row-active{position: relative; padding: 2px 4px;margin: 0px;cursor: hand;cursor: pointer;}
div.search-popup-row{background:#FFFFFF;}
div.search-popup-row-active{background:#EEEEEE;}
div.search-popup-el-name, div.search-popup-el-cnt{position: relative; margin:0px;padding:0px;text-align:left;}
div.search-popup-el-cnt{text-align:right; float:right;}
/* End */


/* Start:/local/templates/.default/components/bitrix/news/obuchenie/bitrix/search.page/.default/style.min.css?1709407697143*/
a.search-page-params{border-bottom:1px dashed blue;text-decoration:none}div.search-page-params{margin-top:6px}.search-item-rate{font-size:11px}
/* End */


/* Start:/bitrix/components/bitrix/system.show_message/templates/.default/style.min.css?170940754751*/
font.errortext{color:red}font.notetext{color:green}
/* End */
/* /bitrix/components/bitrix/search.suggest.input/templates/.default/style.css?1709407836501 */
/* /local/templates/.default/components/bitrix/news/obuchenie/bitrix/search.page/.default/style.min.css?1709407697143 */
/* /bitrix/components/bitrix/system.show_message/templates/.default/style.min.css?170940754751 */
